<mat-form-field [appearance]="isMobile ? 'outline': 'fill'">
    <mat-label>Search</mat-label>
    <input (focus)="onFocus($event)"
           [formControl]="formControl"
           [matAutocomplete]="autocomplete"
           [stFocus]="isSearchFocused"
           id="st-search-input"
           inputmode="search"
           matInput>
</mat-form-field>

<mat-autocomplete #autocomplete="matAutocomplete" class="st-menu-top-search-panel">
    <mat-optgroup *ngIf="isUserSearch" [ngClass]="{'no-label': !isTagSearch}" label="Users">
        <mat-option (onSelectionChange)="onUserSelectionChange($event)"
                    *ngFor="let user of users"
                    [innerHTML]="user.username | highlight:term"
                    [value]="user"
                    class="flat">
        </mat-option>
    </mat-optgroup>
    <mat-optgroup *ngIf="isTagSearch" [ngClass]="{'no-label': !isUserSearch}" label="Tags">
        <mat-option (onSelectionChange)="onTagSelectionChange($event)"
                    *ngFor="let tag of tags"
                    [innerHTML]="tag | highlight:term"
                    [value]="tag"
                    class="flat">
        </mat-option>
    </mat-optgroup>
</mat-autocomplete>
