<h1>About</h1>

<h3>Serenditree <span class="st-phonetic">[səˈrenditriː]</span></h3>
<p>
    Serenditree is an enchanted forest where matters of social significance and culturally valuable content are about to
    bloom. The idea grew out of my fascination with the mechanics of spontaneous order and the sense that these forces
    of space, time and memory that silently influence the dynamics of human societies, ant colonies, cities, brains, or
    any other system with some degree of order, are absent from digital media; social media they say. Most digital media
    utilizes and optimizes algorithms that lead to isolation and narrowness of mind by avoiding information from
    contradictory sources. These algorithms are missing key actors of any development that does not want to get stuck in
    local maxima or the economic principles of growth: failure, entropy and perceived chance; sources of progress and
    the hidden pathways of serendipity. Serenditree aims to connect thoughts beyond sociocultural boundaries through
    space and time, manifested on a self-organizing map that follows rules as old as space and time itself.
</p>
<p>
    The word "Serenditree" is a compound of the words serendipity, serenity and tree. Put together, it induced some kind
    of resonance with an imprinted concept of beauty in my mind and became a guidance, a direction in which this project
    eventually should go.
</p>
<p>
    Plant a thought and watch it grow!
</p>

<h3>Sources</h3>
<mat-icon style="width: auto !important;" fontIcon="fa-github" fontSet="fa"></mat-icon>&nbsp;
<a href="https://github.com/serenditree" target="_blank" class="st-underline">https://github.com/serenditree</a>

<st-terms></st-terms>

<st-contact></st-contact>

<h3>Attributions</h3>
Map data and styles are provided by&nbsp;
<a href="https://openmaptiles.org/" target="_blank" class="st-underline">&copy; OpenMapTiles</a>&nbsp;
<a href="https://www.openstreetmap.org/copyright" target="_blank" class="st-underline">&copy; OpenStreetMap contributors</a>.
