@import "styles";

.st-nav-item-active {
    font-weight: bold;
}

.st-nav-item-animated a > em {
    @include st-polyfill-property(transition, 'all .2s ease-out');
    vertical-align: middle !important;
}

.st-nav-item-animated a:hover {
    color: inherit !important;
}

.st-nav-item-animated:not(.st-nav-item-disabled) a:hover > em {
    @include st-polyfill-property(transform, scale(1.5));
}

.st-nav-item-disabled * {
    @include st-polyfill-property(opacity, .8);
    cursor: default !important;
}

.st-fab-button-container {
    position: relative;
}

.st-fab-button-label {
    position: absolute;
    right: 50px;
    top: 0;
    color: #fff;
    font-weight: bold;
}

.st-fab-icon {
    vertical-align: initial !important;

    .size-adjustment {
        font-size: 24px;
    }
}
