<button (click)="isBack ? goBack(): menuService.toggleBottomSheet(isMain)"
        [ngClass]="{
        'st-fab': true,
        'filter': !isMain && !isBack,
        'no-filter': !filterService.isModified() && !isMain && !isBack,
        'no-shadow': !isElevated, 'back': isBack
        }"
        mat-mini-fab>
    <mat-icon *ngIf="isMain && !menuService.isMainActive" class="st-fab-icon">menu</mat-icon>
    <mat-icon *ngIf="!isMain && !isBack && !menuService.isFilterActive"
              [ngClass]="{'st-fab-icon': true, 'no-filter': !filterService.isModified()}">
        filter_alt
    </mat-icon>
    <mat-icon *ngIf="isMain && menuService.isMainActive || !isMain && menuService.isFilterActive"
              [ngClass]="{'st-fab-icon': true, 'no-filter': !filterService.isModified() && !isMain}">
        close
    </mat-icon>
    <mat-icon *ngIf="isBack" class="st-fab-icon">
        arrow_back
    </mat-icon>
</button>
