@import "styles";

.st-fab.no-shadow {
    box-shadow: none !important;
}

.st-fab {
    position: fixed;
    z-index: $st-menu-z-index + 1;
    right: $st-menu-fab-bottom-right;
    bottom: $st-menu-fab-bottom;
}

@media (display-mode: standalone) {
    .st-fab {
        bottom: $st-menu-fab-bottom-standalone;
    }
}

.st-fab.filter, .st-fab.back {
    right: $st-menu-fab-bottom-right + $st-menu-fab-bottom-spacing !important;
}

.st-fab.filter-active {
    background: $st-color-orange-warning;
}

.st-fab-icon {
    color: #fff;
    vertical-align: initial !important;
}

@include gt-sm {
    .st-fab {
        display: none;
    }
}
