<h2>{{username | greeting}},</h2>
<p>welcome to your personal garden.</p>
<br>
<br>
<h3>New seeds by interesting users</h3>
<p>
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
    magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
    gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
    elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
    eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
    dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et...
</p>
<h3>New seeds in observed regions</h3>
<p>
    Purus eleifend tortor praesent invidunt dui lacus litora pertinax prodesset in graeco fastidii scripta scripta
    intellegat consectetuer discere duis utamur vivendo morbi recteque equidem sapien has reprehendunt sed utamur altera
    eius lacus elaboraret neque suscipit melius tempor vituperatoribus integer tantas homero molestiae aliquam pharetra
    persequeris docendi sodales montes atqui ludus erat ...
</p>
