<h3>Terms of Use</h3>
<p>
    Serenditree is an experimental, personal software project. The entire content of the domain serenditree.io and its
    services are provided in the hope that they will be useful, but come without any liability or warranty.
</p>
<p>
    Your contributions are protected by implicit copyright but everything you contribute, as well as serenditree.io
    itself, might get lost or destroyed forever at any time. Nearly all of your contributions and reactions to them will
    be public by intention or might become public by accident. Every piece of information you find is probably wrong or
    subject to change. You enter this forest like any other forest: at your own risk.
</p>
<p>
    No cookies, tracking, and artificial intelligence were added. Space, time, and memory only. It may contain traces of
    soul.
</p>
<h3>Privacy Policy</h3>
<p>
    <i>General Information:</i>
</p>
<p>
    In short, you do not have to and are advised not to provide any personally identifiable information to
    serenditree.io. As in any other forest, you might leave traces that can be combined into very private and personal
    details. Even if not intended, it cannot be avoided.
</p>
<p>
    I built serenditree.io as a free service. This service is provided at no cost and is intended for use as is. This
    section informs visitors of serenditree.io regarding the collection, use, and disclosure of personally identifiable
    information within serenditree.io.
</p>
<p>
    <i>Collected Information:</i>
</p>
<ul>
    <li>
        If you choose to verify your account, I may require you to provide personally identifiable information. During
        authenticating with the ID provider of your country, the subject (claim &quot;sub&quot;) of the
        <a href="https://openid.net/specs/openid-connect-core-1_0.html#IDToken" target="_blank" class="st-underline">
            OpenID Connect ID Token
        </a>
        will be stored in a separate database table without date information and no link to your account. This
        information is stored to avoid multiple verifications with the same, unique subject, and to add some
        significance to the contributions of verified accounts. Combined with the hopefully secure database of the ID
        provider of your country, the stored subject might be used to reconstruct your real identity and that you are
        registered at serenditree.io, but your account and contributions stay pseudonymous. Be aware that pseudonymous
        is not the same as anonymous.
    </li>
    <li>
        After registration and even before verification, every content you enter and any option you select might get
        enriched by temporal and spatial information and will be stored in a database upon your active request only. You
        can delete it or request deletion of any information related to your account and the account itself at any time.
        Spatial and temporal information is needed to port the natural dynamics of spontaneous order to virtual domains.
    </li>
</ul>
<p>
    <i>No Cookies:</i>
</p>
<p>
    Serenditree.io does not store any cookies on your device and does not employ any tracking technologies. A digitally
    signed and encrypted token, containing your username, user id and role as well as your username and user id in plain
    text will be stored in your browsers local storage upon sign up and whenever you sign in. It will be removed if you
    actively sign out or clear your browsers local storage.
</p>
<p>
    <i>Security:</i>
</p>
<p>
    Please remember that no method of transmission over the Internet or method of electronic storage is 100&percnt;
    secure and reliable and I cannot guarantee its absolute security!
</p>
<p>
    <i>External Links:</i>
</p>
<p>
    This service may contain links to other sites. If you click on a third-party link, you will be directed to that
    site. Note that these external sites are not operated by me. Therefore, I strongly advise you to review the privacy
    policy of these websites. I have no control over and assume no responsibility for the content, privacy policies, or
    practices of any third-party sites or services.
</p>
<p>
    <i>Your Rights:</i>
</p>
<p>
    Know your rights within this domain:&nbsp;
    <a href="https://gdpr.eu/tag/chapter-3" target="_blank" class="st-underline">Rights of the data subject</a>!
</p>
<p>
    <i>Policy Updates:</i>
</p>
<p>
    I may update this privacy policy from time to time. Thus, you are advised to review this page periodically for any
    changes. I will notify you of any changes by posting the new privacy policy on this page.
</p>
