<h3>Terms of Use</h3>
<p>
    Serenditree is an experimental, personal software project. The entire content of the domain serenditree.io and its
    services are provided in the hope that they will be useful, but come without any liability or warranty. Although
    your contributions are protected by implicit copyright, everything you contribute, as well as serenditree.io itself,
    might get lost or destroyed forever at any time. Nearly all of your contributions as well as the reactions to it
    will be public by intention or might become public by accident.
</p>
<p>
    Every information you find is probably wrong or subject to change. Every interaction with this system is based on
    your own decisions, your very own interpretation and might lead to unforeseen consequences. This domain is almost
    completely out of my control but not exempt from real word rules and laws. You enter this forest like any other
    forest: at your own risk.
</p>
<p>
    Every information you enter and any option you select might get enriched by temporal and spatial information and
    will be stored in a database upon your active request only. You can delete it at any time.
</p>
<p>
    A digitally signed and encrypted token, containing your username, user id and role as well as your username and user
    id in plain text will be stored in your browsers local storage upon sign up and whenever you sign in. It will be
    removed if you actively sign out or clear your browsers local storage. Like in any other forest, you will leave
    traces which can be combined to very private and personal information. Even if not intended, it cannot be avoided.
</p>
<p>
    No cookies, tracking and artificial intelligence added. Space, time and memory only. May contain traces of soul.
</p>
