<header>
    <st-menu-top></st-menu-top>
    <st-map></st-map>
</header>
@if (!isMobile && showSubmenu(routerOutlet)) {
    <st-menu-sub></st-menu-sub>
}
@if (isMobile) {
    <st-menu-mobile></st-menu-mobile>
}
<main [class]="contentClass(routerOutlet)">
    <div [class]="{
    'st-content-elevator': true,
    'st-content-elevator-enabled': !mapNavigation,
    'st-content-elevator-disabled': mapNavigation
    }">
        <router-outlet #routerOutlet="outlet"></router-outlet>
        @if (!isProduction) {
            <st-tool></st-tool>
        }
    </div>
</main>
<footer>
    <st-menu-fab [action]="'main'" [isElevated]="true"></st-menu-fab>
    @if (isHomeActive) {
        <st-menu-fab [isElevated]="true" [action]="'filter'"></st-menu-fab>
    }
    @if (!isHomeActive) {
        <st-menu-fab [isElevated]="true" [action]="'back'"></st-menu-fab>
    }
</footer>
