@import "styles";

header {
    position: relative;
}

.st-content,
.st-content-sub,
.st-content-no-map {
    position: relative;
    width: $st-content-width;
    margin: $st-content-start auto 4200px auto; // margin-bottom to enable scrolling on every page
}

@include gt-sm {
    .st-content,
    .st-content-sub,
    .st-content-no-map {
        width: $st-content-width-gt-sm;
        margin-top: $st-content-start-gt-sm;
    }
}

@include gt-lg {
    .st-content,
    .st-content-sub,
    .st-content-no-map {
        width: $st-content-width-gt-lg;
    }
}

.st-content-sub {
    margin-top: $st-content-start-sub;
}

@include gt-sm {
    .st-content-sub {
        margin-top: $st-content-start-sub-gt-sm;
    }
}

.st-content-no-map {
    margin-top: $st-content-start-no-map;
}

@include gt-sm {
    .st-content-no-map {
        margin-top: $st-content-start-no-map-gt-sm;
    }
}
