<div class="st-map-container">
    <map #mapContainer id="st-map"></map>
    <div #mapOverlay class="st-map-container-overlay"></div>
    <st-indicator [show]="showIndicator" tooltip="the map you shall move"></st-indicator>
    <div class="st-map-container-overlay right">
        <div (click)="locate()" class="st-map-control">
            <em class="material-icons st-map-control-icon">near_me</em>
        </div>
        <div
            #tooltip="matTooltip"
            (click)="tooltip.toggle()"
            matTooltip="&copy; OpenMapTiles &copy; OpenStreetMap contributors"
            matTooltipPosition="left"
            matTooltipTouchGestures="off"
            class="st-map-control st-map-control-info">
            <em class="material-icons st-map-control-icon st-flip-vertically">priority_high</em>
        </div>
    </div>
    @if (showSearchOverlay) {
        <div class="st-map-container-overlay-search" animate.enter="st-fade-enter" animate.leave="st-fade-leave"></div>
    }
    @if (showFilterOverlay) {
        <div class="st-map-container-overlay-filter" animate.enter="st-fade-enter" animate.leave="st-fade-leave">
            <st-filter id="st-overlay-filter"></st-filter>
        </div>
    }
</div>
