@use "styles";
@use "assets/styles/media";
@use "assets/styles/utils";
@use "assets/styles/animations";

@include animations.st-fade-enter();

#st-map {
    position: absolute;
    width: 100%;
    height: 100%;
}

.st-map-container {
    position: fixed;
    z-index: styles.$st-map-z-index;
    top: styles.$st-menu-top-height;
    width: 100%;
    height: styles.$st-map-height;
}

@include media.lt-md {
    .st-map-container {
        @include styles.st-shadow(bottom);
    }
}

@include media.gt-sm {
    .st-map-container {
        top: styles.$st-menu-top-height-gt-sm;
    }
}

.st-map-container-overlay {
    position: absolute;
    z-index: styles.$st-map-z-index + 1;
    width: styles.$st-content-margin;
    height: styles.$st-map-height;
    @include styles.st-transparency(.5);
}

@include media.gt-sm {
    .st-map-container-overlay {
        width: styles.$st-content-margin-gt-sm;
    }
}

@include media.gt-lg {
    .st-map-container-overlay {
        width: styles.$st-content-margin-gt-lg;
    }
}

.st-map-container-overlay.right {
    right: 0;
}

.st-map-container-overlay-search {
    position: absolute;
    z-index: styles.$st-map-z-index + 1;
    top: 0;
    right: styles.$st-content-margin;
    width: styles.$st-map-search-width;
    height: styles.$st-map-height;
    border-top: 1px dotted #ccc;
    @include styles.st-transparency(.8);
}

.st-map-container-overlay-filter {
    position: absolute;
    z-index: styles.$st-map-z-index + 1;
    top: 0;
    left: styles.$st-content-margin;
    height: styles.$st-map-height;
    padding: 0 14px;
    @include styles.st-transparency(.8);
}

@include media.gt-sm {
    .st-map-container-overlay-search {
        right: styles.$st-content-margin-gt-sm;
    }

    .st-map-container-overlay-filter {
        left: styles.$st-content-margin-gt-sm;
    }
}

@include media.gt-lg {
    .st-map-container-overlay-search {
        right: styles.$st-content-margin-gt-lg;
    }

    .st-map-container-overlay-filter {
        left: styles.$st-content-margin-gt-lg;
    }
}

$st-marker-size: 50px;

.st-marker {
    width: $st-marker-size;
    height: $st-marker-size;
    border: 1px solid rgba(0, 0, 0, 0);
    text-align: center;
    @include utils.st-polyfill-property(border-radius, 50%);
}

.st-marker.mouseover {
    border: 1px solid rgba(153, 153, 153, .7) !important;
    @include styles.st-transparency(.3);
}

.st-marker.click {
    border: 1px solid rgba(153, 153, 153, .7) !important;
    @include styles.st-transparency(.7);
}

.st-marker-icon {
    line-height: $st-marker-size !important;
    cursor: pointer;
}

$st-map-control-size: 30px;
$st_map-control-margin: 5px;
$st-map-control-left: -$st-map-control-size - $st-map-control-margin;

.st-map-control {
    position: absolute;
    z-index: styles.$st-map-z-index + 1;
    top: styles.$st-map-height - $st-map-control-size - $st-map-control-margin;
    left: $st-map-control-left;
    width: $st-map-control-size;
    height: $st-map-control-size;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    @include styles.st-transparency(.5);
    @include utils.st-polyfill-property(border-radius, 50%);
}

.st-map-control:hover {
    @include styles.st-transparency(.7);
}

.st-map-control-icon {
    line-height: $st-map-control-size;
}

.st-map-control-icon:hover {
    color: styles.$st-color-green-leaf;
}

.st-map-control-info {
    left: $st-map-control-left - $st-map-control-size - $st-map-control-margin;
}


