@use "styles";
@use "assets/styles/media";

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-static {
    display: flex;
    flex-direction: row;
}

.st-nav-item-container-left st-nav-item {
    text-align: left;
    margin-right: 20px;
}

.st-nav-item-container-right st-nav-item {
    text-align: right;
    margin-left: 20px;
}

@include media.lt-md {
    .flex-row {
        gap: 0;
        flex-grow: 1;
        flex-direction: column;
    }

    st-nav-item {
        line-height: 40px !important;
    }

    st-menu-mobile st-nav-item {
        margin: 0 !important;
        border-bottom: 1px solid styles.$st-color-gray-secondary;
    }
    st-menu-mobile st-nav-item:last-of-type {
        border-bottom: none;
    }
}
