@if (fabToggleActive) {
    <div (click)="toggleFab()" [@enterFade] class="fab-backdrop"></div>
}
<div [@enterFade] class="fab-container">
    <button (click)="toggleFab()" class="fab-toggle" mat-mini-fab>
        @if (!fabToggleActive) {
            <mat-icon class="st-fab-icon">add</mat-icon>
        }
        @if (fabToggleActive) {
            <mat-icon class="st-fab-icon">close</mat-icon>
        }
    </button>
    <div (click)="toggleFab()" [@fabToggle]="fabToggleState">
        @if (fabToggleActive) {
            <ng-content></ng-content>
        }
    </div>
</div>
