@use "styles";

.st-seed-list-item {
    margin-top: 40px;
    cursor: pointer;
}

.st-seed-list-item-pointer {
    color: styles.$st-color-green-leaf;
    overflow: hidden;
    vertical-align: -10%
}

.st-seed-list-item-badges {
    float: right;
}

mat-icon {
    vertical-align: middle !important;
}
