@use "styles";
@use "assets/styles/list";
@use "assets/styles/media";

.flex-row {
    display: flex;
    gap: 40px;
    flex-direction: row;
}

@include media.lt-md {
    .flex-row {
        gap: 0;
        flex-grow: 1;
        flex-direction: column;
    }
}
