<st-menu [ngClass]="{'st-menu-sub': true, 'decentralized': decentralized}">
    <st-nav-container *ngIf="!decentralized && isActive('discover'); else user" align="left" responsive="row">
        <st-nav-item [routerLinkActiveOptions]="{exact: true}"
                     routerLink="/seeds"
                     text="Seeds">
        </st-nav-item>
        <st-nav-item [routerLinkActiveOptions]="{exact: true}"
                     routerLink="/gardens"
                     text="Gardens">
        </st-nav-item>
        <st-nav-item *ngIf="!isMobile" (click)="toggleFilter()"
                     [icon]="isFilterFocused ? 'fa-close' : 'fa-filter'"
                     [class.st-warning-orange]="!isFilterFocused && isFilterModified"
                     style="margin-right: 5px !important;">
        </st-nav-item>
    </st-nav-container>
    <ng-template #user>
        <st-nav-container *ngIf="!decentralized && isActive('user'); else ngContent" align="left" responsive="row">
            <st-nav-item [routerLinkActiveOptions]="{exact: true}"
                         routerLink="/user/garden"
                         text="Garden">
            </st-nav-item>
            <st-nav-item [routerLinkActiveOptions]="{exact: false}"
                         routerLink="/user/settings"
                         text="Settings">
            </st-nav-item>
        </st-nav-container>
    </ng-template>
    <ng-template #ngContent>
        <ng-content></ng-content>
    </ng-template>
</st-menu>
